*{margin: 0; padding: 0; border: 0;}

@font-face {
    font-family: 'Whitney';
    src: local('Whitney Medium Regular'), local('Whitney-Medium'),
        url('fonts/whitney/Whitney-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/whitney/Whitney-Medium.woff') format('woff'),
        url('fonts/whitney/Whitney-Medium.ttf') format('truetype');	
}


/*=====================================*/
.header {
	width: 100%;
	height: 760px;
	background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
	&__body {
		max-width: 1200px;
   	 	margin: 0 auto;
	}
		@media all and (max-width: 1010px){
	    	&{
	    		height: 700px;
	    	}
	    }
	    @media all and (max-width: 760px){   	
	    	&{
	    		height: 550px;
	    	}
	    }
	    @media all and (max-width: 550px){   	
	    	&{
	    		height: 500px;
	    	}
	    }
	    @media all and (max-width: 450px){   	
	    	&{
	    		height: 480px;
	    	}
	    }
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	&__logo {
		margin: 10px;
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
	}
	&__text {
		color: #F25B24;
		font-size: 40px;
		margin-left: 15px;
	}
	&__link {
		display: flex;
		flex-direction: row;
		align-items: center;	
	}
	@media all and (max-width: 760px){   	
    	&__link{
    		margin-right: 20px;
    	}
    }
 	@media all and (max-width: 450px){   	
    	&__text{
		    font-size: 30px; 
    	}
    }
	
}

.link {
	&__item {
		font-family: Whitney;
		font-style: normal;
		font-weight: 325;
	    font-size: 18px;
	    line-height: 23px;
	    color: #FFFFFF;
	    margin: 10px;
	    display: flex;
	    align-items: center;
	    cursor: pointer;

	    &:first-child { 
			margin-right: 100px; 
		}
	}
	&__img {
	    margin-right: 12px;
	}
	@media all and (max-width: 550px){   	
    	&__item:first-child{
		    margin-right: 5px;
    	}
    }
    @media all and (max-width: 450px){   	
    	&__item{
		    font-size: 15px;
    	}
    }
}

.content {
	&__body{
		width: 100%;
		display: flex;
	}
	&__column {
	    margin-top: 200px;
		padding: 0px 10px 0px 10px;
		display: flex;
		flex-direction: column;
	}
	&__title {
		margin: 0px 0px 30px 0px;
	    padding-right: 15px;
	    width: auto;
	    height: auto;
	    font-family: Whitney;
		font-style: normal;
	    font-weight: 600;
	    font-size: 50px;
	    line-height: 120%;
	    color: #fff;
	}
	&__subtitle {
		margin: 0px 0px 60px 0px;
	    padding-right: 15px;
	    width: auto;
	    height: auto;
	    font-weight: 350;
	    font-size: 24px;
	    line-height: 31px;
	    color: #fff;
	}
	&__button {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    width: 222px;
	    height: 50px;
	    background: #F25B24;
	    border-radius: 4px;
	    cursor: pointer;
	}
	&__text{
		width: 102px;
		height: 18px;
		font-weight: 600;
		font-size: 18px;
		line-height: 100%;
		color: #fff;
	}
	&__img {
        width: 100%;
	    height: 100%;
	    display: flex;
	    align-self: center;
	    margin-top: 155px;
    	img {
		   object-fit: cover;   margin: 0px 0px 35px 0px;
		    width: 100%;
		    height: 100%;
    	}			
	}
	 	@media all and (max-width: 1010px){
	    	&__title{
    		    font-size: 35px;
	    	}
	    	&__subtitle{
		        font-size: 20px;
	    	}
	    }
	    @media all and (max-width: 760px){   	
	    	&__subtitle{
	    		margin: 0px 0px 35px 0px;
	    	}
	    	&__column {
    		    margin: 100px auto;
	    	}
	    	&__title{
	    		font-size: 40px;
	    	}
	    	&__subtitle{
	    		font-size: 24px;
	    	}
	    	&__img{
	    		display: none;
	    	}
	    }
	     @media all and (max-width: 550px){   	
	    	&__column{
	    		margin: 60px auto;
	    	}
	    	&__title{
	    		font-size: 35px;
	    	}
	    	&__subtitle{
    		    font-size: 18px;
	    	}
	    }
	    @media all and (max-width: 450px){   	
	    	&__column{
	    		margin: 60px auto;
	    	}
	    	&__title{
	    		font-size: 30px;
	    	}
	    	&__subtitle{
    		    font-size: 16px;
	    	}
	    }

}
/*=====================================*/
.main {
	&__body {
	    max-width: 1200px;
    	margin: 0 auto;
	}
	&__title {
		margin: 70px 0px 0px 10px;
		font-weight: 600;
		font-size: 40px;
		line-height: 52px;
		color: #2E2D35;

	}
	@media all and (max-width: 1010px) {
		&__title{
			font-size: 35px;
			margin: 45px 0px 0px 10px;
		}
	}
	@media all and (max-width: 450px) {
		&__title{
			margin: 35px 0px 0px 10px;
			font-size: 30px;
		}
	}
}
.body {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px 0px 10px;

	&__item {
		display: flex;
   		flex: 0 0 49%;
        margin: 0px 10px 10px 0px;
   		background: #F6F5F9;
		border-radius: 6px;
	}
	&__column {
		padding: 5px;
		width: 100%;
	}
	&__title {
		font-weight: 600;
		font-size: 22px;
		line-height: 29px;
		color: #2E2D35;
		margin: 43px 0px 0px 40px;
	}
	&__text {
		font-size: 16px;
		line-height: 142%;
		color: #474351;
		margin: 22px 0px 50px 40px;
	}
	&__img {
		/*width: 100%;
	    height: 100%;*/
	    display: flex;
	    align-self: center;
    	img{
    		object-fit: cover;
		    /*width: 100%;
		    height: 100%;*/
    	}
	}
	@media all and (max-width: 1010px) {
		&{
			flex-direction: column;
			font-size: 35px;
		}
	}
	@media all and (max-width: 550px) {
		img{
			width: 100%;
    		height: 100%;
		}
	}
}
/*=====================================*/
.footer {
	margin: 130px 10px 185px 10px;
	&__body {
		max-width: 1200px;
		margin: 0 auto;
		background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
		border-radius: 10px;
	}
	@media all and (max-width: 1010px) {
		&{
			margin: 75px 10px 140px 10px;
		}
	}
}
.item {
	display: flex;
	&__column {
		display: flex;
    	flex-direction: column;
	}
	&__title {
		margin: 70px 0px 0px 70px;
		font-weight: 600;
		font-size: 34px;
		line-height: 45px;
		color: #FFFFFF;
	}
	&__button {
		margin: 46px 0px 70px 70px;
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    width: 222px;
	    height: 50px;
	    background: #F25B24;
	    border-radius: 4px;
	    cursor: pointer;
	}
	&__text{
		width: 102px;
		height: 18px;
		font-weight: 600;
		font-size: 18px;
		line-height: 100%;
		color: #fff;
	}
	&__img {
		width: 100%;
	    height: 100%;
	    display: flex;
	    align-self: center;
		img{
		    object-fit: cover;
		    width: 100%;
		    height: 100%;
		}
	}

	@media all and (max-width: 980px) {
		&__img{
			display: none;
		}
		&__title{
			margin: 70px 40px 0px 70px;
		}
	}

	@media all and (max-width: 760px) {
		&__title{
			margin: 60px 20px 0px 60px;
		} 
	}

	@media all and (max-width: 550px) {
		&__title{
			margin: 40px 20px 0px 40px;
		    font-size: 28px;
		}
		&__button{
			margin: 46px 0px 40px 40px;
		}
	}	
}
/*=====================================*/

.popup {
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(28, 24, 47, 0.3);
	top: 0;
	left: 0;
	display: none;
	&__body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px 10px;
	}
	&__container{
		background: #FFFFFF;
		box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
		border-radius: 6px;
		min-width: 500px;

	}
	&__close {
		position: relative;
	    cursor: pointer;
		img{
			position: absolute;
		    right: 24px;
		    top: 24px;
		}
	}
	&__title {
		margin-top: 60px;
		font-weight: 600;
		font-size: 40px;
		line-height: 52px;
		text-align: center;
		color: #2E2D35;
	}
	@media all and(max-width: 450px) {
		&__title{
			font-size: 30px;
			margin-top: 50px;
		}
		&__container{
			min-width: 350px;
		}
	}

}
.wrap {
	margin: 35px 60px 34px 60px;
	&__item {
	}
	&__text {
		font-weight: 350;
				
		line-height: 24px;
		margin: 18px 0px 10px 0px;
	}
	&__input {
		input {
		height: 50px;
		background: #FFFFFF;
		border: 1px solid #DDDAE7;
		box-sizing: border-box;
		border-radius: 4px;
		width: 100%;

		}
	}
	&__button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #F25B24;
		border-radius: 4px;
	    height: 50px;
	    margin-top: 34px;
	}
	&__click {
		font-weight: 600;
		font-size: 18px;
		line-height: 100%;
		color: #FFFFFF;
	}
	@media all and(max-width: 450px) {
		&{
			margin: 30px 30px 34px 30px;
		}
	}
}



/*=====================================*/