* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Whitney";
  src: local("Whitney Medium Regular"), local("Whitney-Medium"), url("fonts/whitney/Whitney-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/whitney/Whitney-Medium.woff") format("woff"), url("fonts/whitney/Whitney-Medium.ttf") format("truetype");
}
/*=====================================*/
.header {
  width: 100%;
  height: 760px;
  background: -webkit-gradient(linear, left top, right top, from(#2D1686), to(#4E33B5));
  background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
}
.header__body {
  max-width: 1200px;
  margin: 0 auto;
}
@media all and (max-width: 1010px) {
  .header {
    height: 700px;
  }
}
@media all and (max-width: 760px) {
  .header {
    height: 550px;
  }
}
@media all and (max-width: 550px) {
  .header {
    height: 500px;
  }
}
@media all and (max-width: 450px) {
  .header {
    height: 480px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}
.nav__logo {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.nav__text {
  color: #F25B24;
  font-size: 40px;
  margin-left: 15px;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 760px) {
  .nav__link {
    margin-right: 20px;
  }
}
@media all and (max-width: 450px) {
  .nav__text {
    font-size: 30px;
  }
}

.link__item {
  font-family: Whitney;
  font-style: normal;
  font-weight: 325;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.link__item:first-child {
  margin-right: 100px;
}
.link__img {
  margin-right: 12px;
}
@media all and (max-width: 550px) {
  .link__item:first-child {
    margin-right: 5px;
  }
}
@media all and (max-width: 450px) {
  .link__item {
    font-size: 15px;
  }
}

.content__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content__column {
  margin-top: 200px;
  padding: 0px 10px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content__title {
  margin: 0px 0px 30px 0px;
  padding-right: 15px;
  width: auto;
  height: auto;
  font-family: Whitney;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  color: #fff;
}
.content__subtitle {
  margin: 0px 0px 60px 0px;
  padding-right: 15px;
  width: auto;
  height: auto;
  font-weight: 350;
  font-size: 24px;
  line-height: 31px;
  color: #fff;
}
.content__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 222px;
  height: 50px;
  background: #F25B24;
  border-radius: 4px;
  cursor: pointer;
}
.content__text {
  width: 102px;
  height: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}
.content__img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 155px;
}
.content__img img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px 0px 35px 0px;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 1010px) {
  .content__title {
    font-size: 35px;
  }
  .content__subtitle {
    font-size: 20px;
  }
}
@media all and (max-width: 760px) {
  .content__subtitle {
    margin: 0px 0px 35px 0px;
  }
  .content__column {
    margin: 100px auto;
  }
  .content__title {
    font-size: 40px;
  }
  .content__subtitle {
    font-size: 24px;
  }
  .content__img {
    display: none;
  }
}
@media all and (max-width: 550px) {
  .content__column {
    margin: 60px auto;
  }
  .content__title {
    font-size: 35px;
  }
  .content__subtitle {
    font-size: 18px;
  }
}
@media all and (max-width: 450px) {
  .content__column {
    margin: 60px auto;
  }
  .content__title {
    font-size: 30px;
  }
  .content__subtitle {
    font-size: 16px;
  }
}

/*=====================================*/
.main__body {
  max-width: 1200px;
  margin: 0 auto;
}
.main__title {
  margin: 70px 0px 0px 10px;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  color: #2E2D35;
}
@media all and (max-width: 1010px) {
  .main__title {
    font-size: 35px;
    margin: 45px 0px 0px 10px;
  }
}
@media all and (max-width: 450px) {
  .main__title {
    margin: 35px 0px 0px 10px;
    font-size: 30px;
  }
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0px 0px 10px;
}
.body__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  margin: 0px 10px 10px 0px;
  background: #F6F5F9;
  border-radius: 6px;
}
.body__column {
  padding: 5px;
  width: 100%;
}
.body__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #2E2D35;
  margin: 43px 0px 0px 40px;
}
.body__text {
  font-size: 16px;
  line-height: 142%;
  color: #474351;
  margin: 22px 0px 50px 40px;
}
.body__img {
  /*width: 100%;
     height: 100%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.body__img img {
  -o-object-fit: cover;
     object-fit: cover;
  /*width: 100%;
  height: 100%;*/
}
@media all and (max-width: 1010px) {
  .body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 35px;
  }
}
@media all and (max-width: 550px) {
  .body img {
    width: 100%;
    height: 100%;
  }
}

/*=====================================*/
.footer {
  margin: 130px 10px 185px 10px;
}
.footer__body {
  max-width: 1200px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, right top, from(#2D1686), to(#4E33B5));
  background: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
  border-radius: 10px;
}
@media all and (max-width: 1010px) {
  .footer {
    margin: 75px 10px 140px 10px;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item__title {
  margin: 70px 0px 0px 70px;
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  color: #FFFFFF;
}
.item__button {
  margin: 46px 0px 70px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 222px;
  height: 50px;
  background: #F25B24;
  border-radius: 4px;
  cursor: pointer;
}
.item__text {
  width: 102px;
  height: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}
.item__img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.item__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 980px) {
  .item__img {
    display: none;
  }
  .item__title {
    margin: 70px 40px 0px 70px;
  }
}
@media all and (max-width: 760px) {
  .item__title {
    margin: 60px 20px 0px 60px;
  }
}
@media all and (max-width: 550px) {
  .item__title {
    margin: 40px 20px 0px 40px;
    font-size: 28px;
  }
  .item__button {
    margin: 46px 0px 40px 40px;
  }
}

/*=====================================*/
.popup {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 24, 47, 0.3);
  top: 0;
  left: 0;
  display: none;
}
.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}
.popup__container {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  min-width: 500px;
}
.popup__close {
  position: relative;
  cursor: pointer;
}
.popup__close img {
  position: absolute;
  right: 24px;
  top: 24px;
}
.popup__title {
  margin-top: 60px;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #2E2D35;
}
@media all and (max-width: 450px) {
  .popup__title {
    font-size: 30px;
    margin-top: 50px;
  }
  .popup__container {
    min-width: 350px;
  }
}

.wrap {
  margin: 35px 60px 34px 60px;
}
.wrap__text {
  font-weight: 350;
  line-height: 24px;
  margin: 18px 0px 10px 0px;
}
.wrap__input input {
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #DDDAE7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
}
.wrap__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F25B24;
  border-radius: 4px;
  height: 50px;
  margin-top: 34px;
}
.wrap__click {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
}
@media all and (max-width: 450px) {
  .wrap {
    margin: 30px 30px 34px 30px;
  }
}

/*=====================================*/